/* ORDER SECTION */
.order-section {
    padding: 80px 20px;
    text-align: center;
}

.order-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.order-card {
    background: rgba(17, 26, 46, 0.8);
    padding: 30px;
    width: 280px;
    border-radius: 12px;
    transition: 0.3s;
}

.order-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(255,123,0,0.3);
}

.order-card h3 {
    color: #ff7b00;
    margin-bottom: 10px;
}

.order-card p {
    margin-bottom: 20px;
}

/* BUTTON */
.order-card button {
    padding: 10px 20px;
    background: #ff7b00;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* HIGHLIGHT CUSTOM CARD */
.highlight-card {
    border: 2px solid #00d4ff;
}
